/* CSS for google results page project*/

body{
	font-family: arial, sans-serif;
	margin: 0;
}

#header{
	position: relative;
	width: 100%;
	height: 64px;
	top: 0;
	background-color: #fafafa;

}

#google-logo{
	display: inline;
	height: 40px;
	vertical-align: middle;
	margin-left: 13px;
}

#microphone{
	width: 14px;
	position: relative;
	right: 90px;
	vertical-align: middle;
}

#magnifying-glass{
	width: 20px;
	position: relative;
	right: 70px;
	vertical-align: middle;
}

.search{
    width: 630px;
    height: 40px;
    margin: 22px 12px;
    border:	solid 1px #d2d2d2;
    box-shadow: 1px 1px 1px #d2d2d2;
    outline: none;
}

.search:hover{
    box-shadow: 1px 2px 2px #d2d2d2;	
}

.search:focus{
    box-shadow: 1px 2px 2px #d2d2d2;	
}

#block-image{
	opacity: .75;
	vertical-align: middle;
	margin-left: 180px;	
	margin-right: 17px;
}

#block-image:hover{
	opacity: .95;
}

#sign-in{
	background-color: #4285f4;
	border: 1px solid #4285f4;
	color: #fff;
	font-weight: bold;
	line-height: 28px;
	border-radius: 2px;
	padding: 0 12px;
}

#navigation-bar{
	height: 58px;
	width: 100%;
	background-color: #fafafa;
	padding: 0;
	position: absolute;
	display: block;
	border-bottom: 1px solid #ebebeb;
	z-index: -1;
}

#all{
	height: 15px;
	padding: 28px 16px 12px;
	margin-left: 150px;
	border: 1px solid black;
}